.contenedorFormulario{
    background-color: gainsboro;
    padding: 20px;
    justify-content: center;
    display: block;
    width: 50%;
    margin:0px auto;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


